.todoListWrap {
    gap: 1rem;
    padding: 2rem 1rem;
    max-width: 630px;
    height: fit-content;
    margin: 1rem auto;
    border-radius: 10px;
    user-select: none;
  }
.todoItem{
  
  min-height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px grey;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.todoItemWrap{
  
  min-height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px grey;
  border-radius: 5px;

  margin-bottom: 20px;
}

.todoFormWrap{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
}
.todoLeft{
width: 80%;
display: flex;  /* background-color: rgba(136, 138, 137, 0.116); */
}
.todoRight{
  display: flex;
  width: 20%;
}
.todoRight button{
  height: 40px;
}

.task{
  color:rgb(84, 82, 82);
  font-size: 17px;
  margin: 10px;
  border-radius: 5px;
  text-align: left;
}
.dateLevelCont{
  /* display: flex; */
  /* align-items: center; */
  margin: 5px;
  text-align: left;
  padding-left: 2ch;
  width: 80%;
}
.date{
  color:rgb(84, 82, 82);
  font-size: 12px;
  margin-left: 10px;
}
.level{
  font-size: 12px;
  /* margin: 0 20px; */
  display: block;
  min-height: 100px;
  background-color: rgba(158, 175, 163, 0.397);
  padding: 5px;
  width: 20%;
  text-align: center;
  line-height: 100px;
}

.edit{
  margin: 5px;
  width: 70px;
  background-color: rgb(19, 18, 18);
  color: aliceblue;
  border: 0;
  border-radius: 5px;
}
.delete{
  margin: 5px;
  width: 70px;
  height: 40px;
  background-color: red;
  color: aliceblue;
  border: 0;
  border-radius: 5px;
}



.blueBtn{
    background: linear-gradient( 10deg, #5bdaf37e, #adfaf68e, #1af3d679);
    color: rgb(84, 82, 82);
  }

  .todoFormWrap input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px solid rgb(153, 151, 151);
    box-sizing: border-box;
    padding-left: 10px;
    color: rgb(110, 108, 108);
    background-color: rgba(191, 195, 195, 0.435);
  }
  .todoFormWrap label{
    text-align: left;
    color: rgb(110, 108, 108);
  }
  .todoFormWrap select{
   
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px solid rgb(255, 249, 249);
    box-sizing: border-box;
    padding-left: 10px;
    background-color: rgba(221, 218, 218, 0.743);
    color: rgb(133, 132, 132);
}

.todoFormWrap  button {
    width: 100%;
    height: 50px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
    /* margin-top: 2rem; */
    border: 0px solid rgb(153, 151, 151);
    margin-bottom: 10px;
}
.blueBtn{
    background: linear-gradient( 10deg, #5bdaf37e, #adfaf68e, #1af3d679);
    color: rgb(84, 82, 82);
  }


  /* ************Media queries********* */
  @media (max-width: 600px) {

    
      .todoRight{
        display: block;
      }
      .todoRight button{
        height: 30px;
        width: 50px;
      }

  }